<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>servletController</servlet-name>
        <servlet-class>servletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletController</servlet-name>
        <url-pattern>/servletController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Down</servlet-name>
        <servlet-class>Down</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Down</servlet-name>
        <url-pattern>/down</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/about.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/about.jsp</location>
    </error-page>
</web-app>